---
import Layout from "../layouts/Layout.astro";
import Banner from "./../components/Banner.astro";
import Mission from "../components/Mission.astro";
import Vission from "../components/Vission.astro";
import Beneficios from "../components/Beneficios.astro";
import Costumbres from "../components/Costumbres.astro";
import SlideVideos from "../components/SlideVideos.astro"
import ConNostros from "../components/ConNosotros.astro"
import Opiniones from "../components/Opiniones.astro"
---

<Layout title="Ruta Dorada">
  <div class="flex flex-col">
    <Banner />
    <Costumbres />
    <Beneficios />
    <SlideVideos/> 
    <!-- <div class="grid grid-cols-1 md:grid-cols-2">
      <Mission />
      <Vission />
    </div>
    -->
    <ConNostros/>
    <Opiniones/>
  </div>
</Layout>
