---
import Layout from "../layouts/Layout.astro";
import Banner from "./../components/Banner.astro";
import NavBar from "../components/NavBar.astro";
import Descubre from "../components/Descubre.astro";
import Mission from "../components/Mission.astro";
import Vission from "../components/Vission.astro"
---

<Layout title="Ruta Dorada">
  <div class="flex flex-col">
    <NavBar />
    <Banner />
    <Descubre/>
    <div class="grid grid-cols-1 md:grid-cols-2">
      <Mission/>
      <Vission/>
    </div>
    <br><br>
  </div>
</Layout>

