---
import Layout from "../layouts/Layout.astro";
import Banner from "./../components/Banner.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Ruta Dorada">
  <div class="flex flex-col gap-3 p-3">
    <NavBar />
    <Banner />
  </div>
</Layout>

