---
import CardsCostumbres from "../../cards/cardsCostumbres.astro";
---

<div class="flex flex-col gap-5 mt-4 p-0 md:p-5">
    <CardsCostumbres
    title="DESCUBRE NUESTROS DESTINOS NATURALES"
    text="Explora la belleza natural en su máxima expresión. Desde montañas imponentes hasta bosques exuberantes, nuestros destinos te conectan con la maravilla de la naturaleza. Sumérgete en la serenidad y encuentra tu escape perfecto en estos lugares únicos."
    srcImg="/principal/descubre.jpg"
    index={0}
    />

    <CardsCostumbres
    title="EXPLORA Y VIVE  NUESTRAS COSTUMBRES Y TRADICIONES"
    text="Descubre la autenticidad de nuestra cultura a traves de nuestras arraigadas costumbres y tradiciones . Sumergete en festivales llenos de color, explora rituales ancestrales y conoce la vida cotidiana de nuestra comunidad. Cada experiencia te conectará con nuestra historia y te dejará con recuerdos  inolvidables de nuestro destino"
    srcImg="/principal/costumbres.jpg"
    index={1}
    />

    <CardsCostumbres
    title="DESCUBRE NUESTRAS ZONAS ARQUEOLOGICAS"
    text="Viaja en el tiempo explorando nuestras zonas arqueológicas. Camina entre ruinas ancestrales y descubre la historia y cultura de civilizaciones pasadas en un viaje único e inolvidable."
    srcImg="/principal/arquelogia.jpg"
    index={2}
    />
</div>