---
import MissionIcon from "../../icons/MissionIcon.astro";
---

<section class="flex flex-col bg-gray-800 md:p-10 p-2">
  <header class="flex justify-center items-center">
    <h2 class="text-gray-200 text-3xl font-semibold mb-3">Misión</h2>
    <MissionIcon />
  </header>
  <div>
    <p class="text-gray-300 text-center">
      Desarrollar una plataforma interactiva que permita explorar y descubrir
      lugares con potencial turístico a través de videos y fotos. Destacando
      destinos menos conocidos, con identidad cultural y geográfica,
      enriqueciendo la experiencia de viaje y promoviendo la diversidad cultural
      y natural de cada destino.
    </p>
  </div>
</section>
