<p class="mt-5 md:mt-20 px-5 text-2xl text-gray-700 uppercase font-bold">
  Conectamos viajeros con destinos únicos mediante videos culturales
</p>
<div
  class="flex gap-5 flex-nowrap overflow-x-scroll md:overflow-x-auto mx-3 px-5 pt-5 pb-5"
>
  <figure class="flex-shrink-0 w-[300px]">
    <img
      class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-200 rounded-box shadow-md hover:shadow-xl"
      src="/principal/imagenSlide.jpg"
      alt="imagnes && videos"
    />
  </figure>
  <figure class="flex-shrink-0 w-[300px]">
    <img
      class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-200 rounded-box shadow-md hover:shadow-xl"
      src="/principal/imagenSlide.jpg"
      alt="imagnes && videos"
    />
  </figure>
  <figure class="flex-shrink-0 w-[300px]">
    <img
      class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-200 rounded-box shadow-md hover:shadow-xl"
      src="/principal/imagenSlide.jpg"
      alt="imagnes && videos"
    />
  </figure>
  <figure class="flex-shrink-0 w-[300px]">
    <img
      class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-200 rounded-box shadow-md hover:shadow-xl"
      src="/principal/imagenSlide.jpg"
      alt="imagnes && videos"
    />
  </figure>
  <figure class="flex-shrink-0 w-[300px]">
    <img
      class="rounded-box"
      src="/principal/imagenSlide.jpg"
      alt="imagnes && videos"
    />
  </figure>
  <figure class="flex-shrink-0 w-[300px]">
    <img
      class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-200 rounded-box shadow-md hover:shadow-xl"
      src="/principal/imagenSlide.jpg"
      alt="imagnes && videos"
    />
  </figure>
  <figure class="flex-shrink-0 w-[300px]">
    <img
      class="rtransition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-200 rounded-box shadow-md hover:shadow-xl"
      src="/principal/imagenSlide.jpg"
      alt="imagnes && videos"
    />
  </figure>
</div>
