<div id="banner" class="hero overflow-hidden">
  <video autoplay loop muted playsinline>
    <source src="portada.mp4" type="video/mp4">
  </video>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl text-gray-200 font-bold">Descubre la Magia de Ayacucho</h1>
      <p class="mb-5 font-bold text-gray-200">Explora la rica cultura, la arquitectura colonial y los impresionantes paisajes de esta ciudad milenaria con nuestros tours guiados.</p>
      <button class="btn bg-[#0D2831] hover:bg-[#224b58] border-none text-gray-300">Reserva Ahora</button>
    </div>
  </div>
</div>

<style>
  #banner {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
  }

  #banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.7;
  }
</style>