<div
  class="flex flex-col gap-2 justify-items-center items-center md:flex-row mb-5 mt-5 bg-[#138857] p-2 md:p-10 md:mt-20 md:mb-20"
>
  <div class="flex flex-col gap-3 text-gray-200 w-full md:w-1/2">
    <h4 class="text-2xl font-bold">CON NOSOTROS</h4>
    <p>
      Explora la diversidad de la naturaleza y la calidez de la sierra
      ayacuchana, donde los paisajes diversos te invitan a sumergirte en un
      mundo de belleza y serenidad. Situada en el corazón de los Andes peruanos,
      esta región ofrece una experiencia única para los amantes de la aventura y
      la tranquilidad por igual.
    </p>
    <p class="hidden md:block">
      Sumérgete en la cultura local mientras te encuentras con comunidades
      indígenas que conservan sus tradiciones ancestrales y comparten su
      hospitalidad única. Descubre la artesanía local, prueba la deliciosa
      gastronomía andina y maravíllate con las coloridas celebraciones que
      llenan de vida los rincones más remotos de la sierra.
    </p>
    <p class="hidden md:block">
      Desde las impresionantes ruinas arqueológicas hasta los paisajes alpinos
      de ensueño, la sierra ayacuchana es un destino que deleita a los viajeros
      con su autenticidad y encanto. Prepara tu espíritu aventurero y déjate
      llevar por la magia de este tesoro escondido en el corazón de Perú.
    </p>
  </div>
  <figure class=" w-full md:w-1/2">
    <img
      class="rounded-box"
      src="/principal/conNosotros.jpg"
      alt="con nosotros img"
      width="600px"
      height="1000px"
    />
  </figure>
</div>
