<section class="flex flex-col md:flex-row justify-around items-center mt-3">
  <div class="mb-3">
    <h2 class="text-2xl text-gray-800 font-semibold mb-3">
      DESCUBRE NUESTROS DESTINOS NATURALES
    </h2>
    <p class="text-gray-700">
      Explora la belleza natural en su máxima expresión. Desde montañas
      imponentes hasta bosques exuberantes, nuestros destinos te conectan con la
      maravilla de la naturaleza. Sumérgete en la serenidad y encuentra tu
      escape perfecto en estos lugares únicos.
    </p>
  </div>
  <figure>
    <img
      class="rounded-box shadow-lg"
      src="banner.jpg"
      alt="Imagen de un hermoso paisaje natural"
    />
    <figcaption class="sr-only">
      Imagen de un hermoso paisaje natural
    </figcaption>
  </figure>
</section>
