<section class="flex flex-col md:flex-row justify-center items-center mt-3 p-3">
  <article class="mb-3">
    <h5 class="text-2xl text-gray-800 font-semibold mb-3">
      DESCUBRE NUESTROS DESTINOS NATURALES
    </h5>
    <p class="text-gray-700">
      Explora la belleza natural en su máxima expresión. Desde montañas
      imponentes hasta bosques exuberantes, nuestros destinos te conectan con la
      maravilla de la naturaleza. Sumérgete en la serenidad y encuentra tu
      escape perfecto en estos lugares únicos.
    </p>
  </article>
  <figure>
    <img class="rounded-lg" src="banner.jpg" alt="img descubre" />
  </figure>
</section>
