<section
  class="grid grid-cols-1 md:grid-cols-2 justify-items-center items-center"
>
  <div class="mb-3 flex flex-col justify-center items-center">
    <h2 class="text-2xl text-gray-600 font-semibold mb-3 text-center">
      DESCUBRE NUESTROS DESTINOS NATURALES
    </h2>
    <p class="text-gray-500 text-center">
      Explora la belleza natural en su máxima expresión. Desde montañas
      imponentes hasta bosques exuberantes, nuestros destinos te conectan con la
      maravilla de la naturaleza. Sumérgete en la serenidad y encuentra tu
      escape perfecto en estos lugares únicos.
    </p>
  </div>
  <figure>
    <img
      class="opacity-[.8]"
      src="banner.jpg"
      alt="Imagen de un hermoso paisaje natural"
    />
    <figcaption class="sr-only">
      Imagen de un hermoso paisaje natural
    </figcaption>
  </figure>
</section>
