---
import MissionIcon from "../icons/MissionIcon.astro"
---
<div class="flex flex-col bg-slate-200 rounded-box shadow-lg md:p-10 p-2">
    <div class="flex justify-center items-center">
        <p class="text-gray-600 text-3xl font-semibold mb-3">Misión</p>
       <MissionIcon/> 
    </div>
    <div class="" >
        <p class="text-gray-600 text-center">Desarrollar una plataforma interactiva que permita explorar y descubrir lugares con potencial turístico a través de videos y fotos. Destacando destinos menos conocidos, con identidad cultural y geográfica, enriqueciendo la experiencia de viaje y promoviendo la diversidad cultural y natural de cada destino.</p>
    </div>
</div>