---
import CardsOpinions from "../cards/CardsOpinions.astro";
---

<div class="flex flex-col">
    <dir>
        <h3 class="text-2xl text-gray-700 uppercase font-bold">Reseñas vivenciales y culturales: comparte tu experiencia </h3>
    </dir>
    <div class="flex flex-wrap justify-around gap-5 p-5 ">
        <CardsOpinions
        srcImg="/principal/usuario.webp"
        name="Shakuran",
        text="ofrecemos experiencias personalizadas con recomendaciones basadas en tus intereses, acceso a descuentos exclusivos en restaurantes, hoteles y tours"
        />
        <CardsOpinions
        srcImg="/principal/usuario.webp"
        name="Leyla Chiwan ",
        text="ofrecemos experiencias personalizadas con recomendaciones basadas en tus intereses, acceso a descuentos exclusivos en restaurantes, hoteles y tours"
        />
        <CardsOpinions
        srcImg="/principal/usuario.webp"
        name="Alejandra",
        text="ofrecemos experiencias personalizadas con recomendaciones basadas en tus intereses, acceso a descuentos exclusivos en restaurantes, hoteles y tours"
        />
        <CardsOpinions
        srcImg="/principal/usuario.webp"
        name="Leonor",
        text="ofrecemos experiencias personalizadas con recomendaciones basadas en tus intereses, acceso a descuentos exclusivos en restaurantes, hoteles y tours"
        />
    </div>
</div>