<p class="mt-5 md:mt-20 px-5 text-2xl text-gray-700 uppercase font-bold">
  Conectamos viajeros con destinos únicos mediante videos culturales
</p>
<div class="flex flex-col md:flex-row gap-5 mt-5 mb-10 px-5">
  <figure>
    <img
      class="rounded"
      src="/principal/imagenSlide.jpg"
      alt="imagnes && videos"
    />
  </figure>
  <figure>
    <img
      class="rounded"
      src="/principal/imagenSlide.jpg"
      alt="imagnes && videos"
    />
  </figure>
  <figure>
    <img
      class="rounded"
      src="/principal/imagenSlide.jpg"
      alt="imagnes && videos"
    />
  </figure>
</div>
