---
import VisionIcon from "../icons/VissionIcon.astro";
---

<section class="flex flex-col bg-gray-700 md:p-10 p-2">
  <header class="flex justify-center items-center flex-row-reverse">
    <h2 class="text-gray-200 text-3xl font-semibold mb-3">Visión</h2>
    <VisionIcon />
  </header>
  <div>
    <p class="text-gray-300 text-center">
      Convertirnos en la principal plataforma interactiva para turistas, que
      permita visualizar y explorar destinos con potencial turístico. Aspiramos
      a integrar estos destinos en el mapa turístico global, ofreciendo una
      experiencia de viaje única y personalizada.
    </p>
  </div>
</section>
