---
import VissionIcon from "../icons/VissionIcon.astro"
---
<div class="flex flex-col bg-slate-100 h-[400px] md:p-10 rounded-box shadow-lg p-2">
    <div class="flex justify-center items-center flex-row-reverse">
        <p class="text-gray-600 text-3xl font-semibold mb-3">Visión</p>
       <VissionIcon/> 
    </div>
    <div>
        <p class="text-gray-600 text-center">Convertirnos en la principal plataforma interactiva para turistas, que permita visualizar y explorar destinos con potencial turístico. Aspiramos a integrar estos destinos en el mapa turístico global, ofreciendo una experiencia de viaje única y personalizada.</p>
    </div>
</div>