---
interface Props {
    title: string;
    text:string;
    srcImg:string;
    index:number;
}
const {title, text, srcImg, index} = Astro.props
---

<div class={`flex p-2 flex-col md:flex-row justify-between items-center ${index == 1 ? 'md:flex-row-reverse ' : ''}`}>
    <div class="flex flex-col gap-3 justify-center w-full md:w-1/2  p-0 md:p-3">
        <h5 class="text-2xl font-bold text-center text-gray-700">{title}</h5>
        <p class="text-center text-gray-600">{text}</p>
    </div>
    <figure class="w-full md:w-1/2">
        <img class="rounded" src={srcImg} alt="img costumbres">
    </figure>
</div>