---
interface Props {
  message: string;
  clasName:string;
  title:string
}

const { message, clasName, title } = Astro.props;
---

<div class={clasName}>
  <div>
    <slot />
  </div>
  <div>
    <h5 class="text-center font-semibold text-gray-200 mb-2">{title}</h5>
    <p class="text-center text-gray-100">{message}</p>
  </div>
</div>
